
<app-sidebar-board></app-sidebar-board>
<div class="board-layout">
  <h3><span><i class="far fa-star"></i></span>  starred board</h3>
  <h3><span><i class="far fa-clock"></i></span>  recently viewed</h3>
  <h3><span><i class="far fa-user"></i></span>  personal board</h3>
  <div class="board personal-board">
    <!-- <app-board></app-board>
    <app-board></app-board>
    <app-board></app-board> -->
    <div class="new-board">
      <a href="#" class="block" (click)="onModalOpen()">
        create new board
      </a>
    </div>
  </div>
</div>