<div class="list-wrap">
  <div class="list-header">
    <h3>
      <input type="text" value="리스트 타이틀"/>
    </h3>
    <button type="button"><i class="fas fa-ellipsis-h"></i></button>
  </div>
  <ul class="list-contents">
    <li>
      <app-card></app-card>
    </li>
  </ul>
  <div class="list-footer cf">
    <button type="button" class="add-card"><i class="fas fa-plus"></i><span>add another card</span></button>
    <button type="button" class="card-temp"><i class="fab fa-trello"></i></button>
  </div>
</div>