<div class="list-header">
  <h3>
    <input type="text" value="{{selList.listTitle}}" [formControl]="editListTitle" (keyup.enter)="onBlurListTitle()" (blur)="onBlurListTitle()"/>
  </h3>
  <button type="button"><i class="fas fa-ellipsis-h"></i></button>
</div>
<ul class="list-contents">
  <li>
  <li *ngFor="let card of (hdRepo.getCardsbyListId() | orderBy:'cardPosNo')" id="{{card.id}}">
    <!-- <div *ngIf="card.ListId !== selList.id" > -->
      <app-card [selCard]="card" [selList]="selList" class="{{card.listId}}"></app-card>
    <!-- </div> -->
  </li>
</ul>
<div class="list-footer cf">
  <app-new-card [selList]="selList" (selCard)="loadCards()"></app-new-card>
</div>