<div class="list-header">
  <h3>
    <input type="text" value="{{selList.listTitle}}" [formControl]="editListTitle" (keyup.enter)="onBlurListTitle()" (blur)="onBlurListTitle()"/>
  </h3>
  <button type="button"><i class="fas fa-ellipsis-h"></i></button>
</div>
<ul class="list-contents">
  <li>
    <div *ngFor="let card of (hdRepo.getCards() | orderBy:'cardPosNo')" class="list-card">
      <a href="#">
        <div class="card-title">
          <p class="card-title-text">{{card.cardTitle}}</p>
          <button type="button" class="card-title-icon"><i class="fas fa-pencil-alt"></i></button>
        </div>

      </a>
    </div>
  </li>
</ul>
<div class="list-footer cf">
  <app-new-card [selList]="selList" (selCard)="ngOnInit()"></app-new-card>
</div>