<div class="card-head">
	<form [formGroup]="editBoardForm">
		<ul class="card-info">
			<li>
				<h2>
					<input type="text" formControlName="editTitle"
						(keyup.enter)="onBlurBoardTitle()" (blur)="onBlurBoardTitle()" value="{{selBoard.boardTitle}}"
						maxlength="100" />
				</h2>
			</li>
			<li>
				<button type="button" class="star" (click)="onSelStar($event)"><i class="far fa-star {{selBoard.starYN===true?'active':''}}"></i></button>
			</li>
			<li>
				<button type="button"><span>personal</span></button>
			</li>
			<li>
				<button type="button"><i [ngClass]="selBoard.accessYN"></i><span>{{selBoard.accessYN}}</span></button>
			</li>
			<!-- <li>
        <div class="btn-group access-btn" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-animated">
            <i [ngClass]="selBoard.accessYN"></i>
            {{!selAccess?selBoard.accessYN:selAccess.value}} <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li *ngFor="let access of adminRepo.getAccessCode()" role="menuitem">
              <a class="dropdown-item" href="#" (click)="onSelAccess($event, access)">
                <div>
                  <span><i class="{{access.class}}"></i></span>
                  {{access.value}}
                  <span><i class="fas fa-check"></i></span>
                </div>
                <p>{{access.description1}}</p>
                <p>{{access.description2}}</p>
              </a>
            </li>
          </ul>
        </div>
      </li> -->
			<li>
				<ul>
					<li>JU</li>
				</ul>
			</li>
			<li>
				<button type="button"><span>invite</span></button>
			</li>
		</ul>
	</form>
	<ul class="card-info card-menu">
		<li><button type="button"><i class="fas fa-ellipsis-h"></i><span>show menu</span></button></li>
		<li><button type="button"><i class="fas fa-concierge-bell"></i><span>butler</span></button></li>
		<li><button type="button" (click)="onArchive($event)"><span>delete</span></button></li>
	</ul>
	<div class="menu-popup">
		<div>
			<p>menu</p>
			<button type="button"><i class="fas fa-times"></i></button>
		</div>
		<div>
			change background
		</div>
		<button type="button">
			delete
		</button>
	</div>
</div>
<ul dragula="card-collection" class="card-contents">
	<li *ngFor="let list of (hdRepo.getLists() | orderBy:'listPosNo')" class="list-area {{list.id}}">
		<div class="list-wrap">
			<app-list [selList]="list"></app-list>
		</div>
	</li>

	<li class="list-area">
		<app-new-list [selBoard]="selBoard" (selList)="ngOnInit()"></app-new-list>
	</li>

</ul>