<ul class="sidebar">
  <li class="act">
    <a routerLink="/boards" class="nav-side">
      <span><i class="fab fa-trello"></i></span>
      <p>board</p>
    </a>
  </li>
  <li>
    <a href="#" class="nav-side" style="cursor: not-allowed;">
    <span><i class="fab fa-trello"></i></span>
    <p>templates</p>
  </a>
</li>
  <li>
    <a href="#" class="nav-side" style="cursor: not-allowed;">
    <span><i class="fas fa-signature"></i></span> home
  </a></li>
</ul>
<div class="team">
  <p class="team-text">teams</p>
  <button type="button" style="cursor: not-allowed;">
    <span>&#43;</span>
    <p>create a team</p>
  </button>
</div>