<div class="newboard-modal">
  <form [formGroup]="newBoardForm" (ngSubmit)="onSubmit(newBoardForm.value, $event)" novalidate id="newBoard">
    <div class="board-info cf">
      <div class="board-select">
        <div class="board-header">
          <div class="new-title">
            <input type="text" #newTitle formControlName="newTitle" maxlength="100" placeholder="Add board title" required />
          </div>
          <div class="close-btn">
            <button type="button" (click)="onClose()"><i class="fas fa-times"></i></button>
          </div>
        </div>
        <div class="btn-group access-btn" dropdown>
          <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-animated">
            private <span class="caret"></span>
          </button>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
            <li role="menuitem">
              <a class="dropdown-item" href="#">
                <div>
                  <span><i class="fas fa-lock"></i></span>
                  private
                  <span><i class="fas fa-check"></i></span>
                </div>
                <p>only board members can see and edit this board.</p>
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">
                <div>
                  <span><i class="fas fa-globe-americas"></i></span>
                  public
                  <span><i class="fas fa-check"></i></span>
                </div>
                <p>anyone on the internet (including Google) can see this board.</p>
                <p>only board members can edt.</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <ul class="board-color" (click)="onSelectBg($event.target)" (mouseover)="onHover($event.target)" (mouseleave)="onLeave($event.target)">
        <li><button type="button"><span class="click"><i class="fas fa-check"></i></span></button></li>
        <li><button type="button"><span><i class="fas fa-check"></i></span></button></li>
        <li><button type="button"><span><i class="fas fa-check"></i></span></button></li>
        <li><button type="button"><span><i class="fas fa-check"></i></span></button></li>
        <li><button type="button"><span><i class="fas fa-check"></i></span></button></li>
        <li><button type="button"><span><i class="fas fa-check"></i></span></button></li>
        <li><button type="button"><span><i class="fas fa-check"></i></span></button></li>
        <li><button type="button"><span><i class="fas fa-check"></i></span></button></li>
        <li><button type="button"><i class="fas fa-ellipsis-h"></i></button></li>
      </ul>
    </div>
    
    <div class="action-item">
      <button type="submit" (click)="addBoard()">create board</button>
      <a href="#"><i class="fab fa-trello"></i> start with a Template</a>
    </div>
  </form>
</div>