
$icon-sm:32px;

.icon-sm-box,
.icon-lg-box,
.icon-md-box {
  height: $icon-sm;
  border-radius: 5px;
  margin: 0 2px;
  background-color: #5f96c0;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  line-height: $icon-sm;
}

.icon-sm-box {
  width: $icon-sm;
}

.icon-md-box {
  width: 90px;
}
.icon-lg-box {
  width: 180px;
}
.icon-sm-circle{
  width: $icon-sm;
  height: $icon-sm;
  margin: 0 2px;
  border-radius: 100%;
  background-color: #DFE0E6;

}