<div class="card-modal">
  <div class="card-modal-header">
    <div class="header-main">

      <div class="icon">
        <span><i class="fas fa-keyboard"></i></span>
      </div>
      <h3 class="header-title">
        <input type="text" value="{{selCard.cardTitle}}"/>
      </h3>
      <button type="button" class="closeBtn" (click)="onClose()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="header-list">
      <span>in list</span>
      <button type="button">{{selList.listTitle}}</button>
    </div>
  </div>

  <div class="card-modal-main">
    <div class="model-content">
      <div class="description">
        <span class="modal-icon"><i class="fas fa-align-left"></i></span>
        <h3 class="modal-title">description</h3>
      </div>
      <button type="button" class="descripBtn">Add a more detailed description...</button>
    </div>
    <div class="model-contens">
      <span class="modal-icon"><i class="fas fa-comment-alt"></i></span>
      <h3 class="modal-title">activity</h3>
      <button type="button" class="activityBtn">show details</button>
    </div>
  </div>

  <div class="card-modal-sidebar">
    <div class="sidebar-conts">
      <h3 class="sidebar-title">add to card</h3>
      <button type="button">
        <span><i class="far fa-user"></i></span>
        members
      </button>
      <button type="button">
        <span><i class="fas fa-tag"></i></span>
        labels
      </button>
      <button type="button">
        <span><i class="fas fa-tasks"></i></span>
        checklist
      </button>
      <button type="button">
        <span><i class="far fa-clock"></i></span>
        due date
      </button>
      <button type="button">
        <span><i class="fas fa-paperclip"></i></span>
        attachment
      </button>
      <button type="button">
        <span><i class="fas fa-image"></i></span>
        cover
      </button>
    </div>

    <div class="sidebar-conts conts-center">
      <h3 class="sidebar-title">power-ups</h3>
      <button><span class="no-icon"></span>get power-ups</button>
    </div>

    <div class="sidebar-conts">
      <h3 class="sidebar-title">actions</h3>
      <button><span><i class="fas fa-arrow-right"></i></span>move</button>
      <button><span><i class="fas fa-copy"></i></span>copy</button>
      <button><span><i class="fab fa-trello"></i></span>make template</button>
      <button><span><i class="far fa-eye"></i></span>watch</button>
      <hr />
      <button><span><i class="fas fa-archive"></i></span>archive</button>
      <button><span><i class="fas fa-share-alt"></i></span>share</button>
    </div>
  </div>
</div>