<dl class="list-modal-wrap">
  <dt class="list-modal-header cf">
    <h4>list action</h4>
    <button type="button" class="closeBtn" (click)="onCloseListModal()"><i class="fas fa-times"></i></button>
  </dt>
  <dd class="list-main">
    <ul>
      <li><button> add card...</button></li>
      <li><button> copy list...</button></li>
      <li><button> move list...</button></li>
      <li><button> watch</button></li>
    </ul>
  </dd>
  <dd class="list-main">
    <ul>
      <li><button> sort by...</button></li>
    </ul>
  </dd>
  <dd class="list-main">
    <ul>
      <li><button> move all cards in this list...</button></li>
      <li><button> archive all cards in this list...</button></li>
    </ul>
  </dd>
  <dd class="list-main">
    <ul>
      <li><button> archive this list</button></li>
    </ul>
  </dd>
</dl>