<header id="headBox">
  <h1><a routerLink="/boards"><img src="../../../assets/header_logo.png" alt="trello"></a></h1>
  <ul class="snb">
    <li class="icon-sm-circle">
      <button type="button" style="cursor: not-allowed;">
        <span class="hd">프로필</span>
        JU
      </button>
    </li>
    <li class="icon-sm-box">
      <button type="button" style="cursor: not-allowed;">
        <span class="hd">알림창</span>
        <i class="far fa-bell"></i>
      </button>
    </li>
    <li class="icon-sm-box">
      <button type="button" style="cursor: not-allowed;">
        <span class="hd">정보창</span>
        <i class="fas fa-info-circle"></i>
      </button>
    </li>
    <li class="icon-sm-box">
      <button type="button" (click)="onModalOpen($event)">
        <i class="fas fa-plus"></i>
      </button>
    </li>
  </ul>
  <ul class="gnb">
    <li class="icon-sm-box">
      <button type="button" style="cursor: not-allowed;">
        <i class="fas fa-th"></i>
      </button>
    </li>
    <li class="icon-sm-box">
      <button type="button" routerLink="/boards">
        <i class="fas fa-home"></i>
      </button>
    </li>
    <li class="icon-md-box">
      <button type="button" style="cursor: not-allowed;">
        <span class="header-icon"><i class="fab fa-trello"></i></span> 
        <span class="header-text">board</span>
      </button>
    </li>
    <li class="icon-lg-box relative header-search">
      <input type="text" (focus)="onTextFocus()" style="cursor: not-allowed;">
      <div class="search-icon">
        <button type="button" style="cursor: not-allowed;">
          <i class="fas fa-search"></i>
        </button>
      </div>
      </li>
  </ul>
</header>