<header id="headBox">
  <h1><img src="../../../assets/header_logo.png" alt="trello"></h1>
  <ul class="snb">
    <li class="icon-sm-circle"></li>
    <li class="icon-sm-box"><i class="far fa-bell"></i></li>
    <li class="icon-sm-box"><i class="fas fa-info-circle"></i></li>
    <li class="icon-sm-box"><i class="fas fa-plus"></i></li>
  </ul>
  <ul class="gnb">
    <li class="icon-sm-box"><i class="fas fa-th"></i></li>
    <li class="icon-sm-box"><i class="fas fa-home"></i></li>
    <li class="icon-md-box"></li>
    <li class="icon-lg-box"><i class="fas fa-search"></i></li>
  </ul>
</header>